<div class="text-center pt-3 pb-5">
    <app-animation-title class="mb-4"></app-animation-title>
    <h1 class="mb-3">ჰოუ, ჰო, ჰო.</h1>

    <p>
        გამარჯობა გვანცა, მე შენი <span class="text-danger">სანტა</span>  ვარ!!!
    </p>
    <p>
        იმედია თავგადასავლები გიყვარს, სხვა შემთხვევაში გამოვა რომ ამდენი ტყუილად ვიწვალე :/
    </p>
    <p>
        შენი საჩუქრები ოფისშია მიმოფანტული, მათ მოსაპოვებლად კი სხვადასხვა დავალების შესრულება მოგიწევს
    </p>
    <p>
        უნდა იპოვო ის ადამიანები, ვისაც შენი საჩუქარი აქვს დამალული, მაგრამ მხოლოდ პოვნა არ იქნება საკმარისი
        საჩრის მოსაოპვებლად, მათ დასმულ შეკითხვებს უნდა გასცე სწორი პასუხები!! მხოლოდ ამის შემდეგ მიიღებ
        საჩუქარს და კოდს, რომელსაც შეიყვან შესაბამის ველში, მხოლოდ ამის შემდეგ შეძლებ შემდეგ ეტაპზე გადასვლას!
    <p class="mb-4">
        თუ მზად ხარ, დააჭირე ღილაკს
    </p>



    <a routerLink="/quest" class="btn btn-primary">დაწყება</a>



</div>